<logger name="org.springframework.web.socket" level="DEBUG">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%15.15t] %c{1} - %m%n"/>
    <property name="outputFormat" value="%msg%n"/>
    <property name="maxFileSize" value="100MB"/>
    <property name="maxHistory" value="30"/>
</logger>
